<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.backend5_1_multi_fc.chat.dao.ChatRoomDao">
    <resultMap id="ChatRoomResultMap" type="ChatRoomDto">
        <id property="roomId" column="chat_room_id" />
        <result property="roomType" column="room_type" />
        <result property="roomName" column="room_name" />
        <result property="creatorId" column="creator_id"/>
        <result property="memberCount" column="member_count" />
        <result property="maxParticipants" column="max_participants"/>
    </resultMap>

    <select id="findChatRoomsByUserIdAndType" resultMap="ChatRoomResultMap">
        select cr.chat_room_id, cr.room_type, cr.room_name, cr.creator_id, cr.member_count, cr.max_participants
        from Chat_Room cr join Chat_Participant cp on cr.chat_room_id = cp.chat_room_id
        where cp.user_id = #{userId} and cr.room_type= #{roomType}
        order by cr.updated_at desc
    </select>

    <select id="findChatRoomsByUserId" resultType="com.multi.backend5_1_multi_fc.chat.dto.ChatRoomDto">
        select cr.*
        from Chat_Room join Chat_Participant cp on cr.chat_room_id = cp.chat_room_id
        where cp.user_id = #{userId}
        order by cr.chat_room_id desc
    </select>

    <select id="findOneToOneChatRoom" resultMap="ChatRoomResultMap">
        select cr.chat_room_id, cr.room_type, cr.room_name, cr.creator_id, cr.member_count, cr.max_participants
        from Chat_Room cr
        where cr.room_type = '1대1' and cr.chat_room_id in (
            select cp1.chat_room_id
            from Chat_Participant cp1 join Chat_Participant cp2 on cp1.chat_room_id = cp2.chat_room_id
            where cp1.user_id = #{userId1} and cp2.user_id = #{userId2}
        )
            limit 1
    </select>

    <select id="findChatRoomById" parameterType="long" resultMap="ChatRoomResultMap">
        select chat_room_id, room_type, room_name, member_count, max_participants
        from Chat_Room
        where chat_room_id = #{roomId}
    </select>

    <insert id="insertChatRoom" parameterType="com.multi.backend5_1_multi_fc.chat.dto.ChatRoomDto" useGeneratedKeys="true" keyProperty="roomId">
        insert into Chat_Room (chat_room_id, room_type, room_name, creator_id, member_count, unread_count, max_participants, created_at, updated_at)
        values (#{roomId}, #{roomType}, #{roomName}, #{creatorId}, #{memberCount},0,#{maxParticipants}, now(),now())
    </insert>

    <update id="updateMemberCount" parameterType="map">
        update Chat_Room
        set member_count=#{memberCount}, updated_at = now()
        where  chat_room_id = #{roomId}
    </update>

    <select id="getLastRoomId" resultType="long">
        select IFNULL(max(chat_room_id), 0)
        from Chat_Room
    </select>

    <delete id="deleteChatRoom" parameterType="long">
        delete
        from Chat_Room
        where chat_room_id =#{roomId};
    </delete>
</mapper>